@import url('dashboard.css');

h1 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #007bff;
}

.product-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.product-card img {
    object-fit: cover;
    height: 200px;
    border-bottom: 1px solid #ddd;
}

.product-card .card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.brand-name {
    font-size: 1.1em;
    font-weight: bold;
    color: #007bff;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 10px 0;
}

.card-text {
    font-size: 0.95rem;
    flex-grow: 1;
    text-align: justify;
    font-weight: 400;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #28a745;
}

.original-price {
    text-decoration: line-through;
    color: gray;
}

.product-discount {
    color: #28a745;
    font-weight: bold;
}

.low-stock {
    color: red;
    font-weight: bold;
}

.shipping-info {
    font-size: 0.85rem;
    color: #555;
    margin-top: 10px;
}

.btn {
    margin-top: auto;
    background-color: #007bff;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
}

.page-item .page-link {
    color: #007bff;
    border: none;
    font-weight: bold;
}

.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

#pagination-numbers {
    display: flex;
}

@media (max-width: 768px) {
    .product-card {
        margin-bottom: 20px;
    }
}