@import url('./main.css');

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: #343a40;
    transition: all 0.3s;
}

#sidebar-wrapper .list-group {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    #sidebar-wrapper {
        margin-left: -250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }
}